<!--
  Generated template for the ModifyModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-buttons end><button ion-button (click)="closeModal()">Annuler</button></ion-buttons>
        <ion-title start>Modifier un invité</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label color="primary" floating>Nom</ion-label>
            <ion-input [(ngModel)]="modifiedUser.lastName" name="lastName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" floating>Prénom</ion-label>
            <ion-input [(ngModel)]="modifiedUser.firstName" name="firstName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Vient</ion-label>
            <ion-toggle [(ngModel)]="modifiedUser.coming" name="coming"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Enfants</ion-label>
            <ion-select [(ngModel)]="modifiedUser.children" name="children">
                <ion-option value='0'>0</ion-option>
                <ion-option value='1'>1</ion-option>
                <ion-option value='2'>2</ion-option>
                <ion-option value='3'>3</ion-option>
                <ion-option value='4'>4</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list no-lines>
        <ion-list-header><ion-label color="primary">Invité à</ion-label></ion-list-header>
        <ion-item>
            <ion-label>Apéritif</ion-label>
            <ion-toggle [(ngModel)]="modifiedUser.apero.invited" name="aperoInvited"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Repas</ion-label>
            <ion-toggle [(ngModel)]="modifiedUser.meal.invited" name="mealInvited"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Brunch</ion-label>
            <ion-toggle [(ngModel)]="modifiedUser.brunch.invited" name="brunchInvited"></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-list no-lines *ngIf="modifiedUser.apero.invited || modifiedUser.meal.invited || modifiedUser.brunch.invited">
        <ion-list-header><ion-label color="primary">Vient à</ion-label></ion-list-header>
        <ion-item *ngIf=modifiedUser.apero.invited>
            <ion-label>Apéritif</ion-label>
            <ion-toggle [(ngModel)]="modifiedUser.apero.coming" name="aperoComing"></ion-toggle>
        </ion-item>
        <ion-item *ngIf=modifiedUser.meal.invited>
            <ion-label>Repas</ion-label>
            <ion-toggle [(ngModel)]="modifiedUser.meal.coming" name="mealComing"></ion-toggle>
        </ion-item>
        <ion-item *ngIf=modifiedUser.brunch.invited>
            <ion-label>Brunch</ion-label>
            <ion-toggle [(ngModel)]="modifiedUser.brunch.coming" name="brunchComing"></ion-toggle>
        </ion-item>
    </ion-list>
    <button ion-button full (click)="updateUser()">Modifier</button>
</ion-content>
